.btn {
    color: $white;
    border: 2px solid $white;
    font-weight: 700;
    background-color: transparent;
    padding: 12px 28px;
    cursor: pointer;
    transition: transform 0.25s linear;
    outline: none;
    &:hover {
        transform: scale(1.08);
    }
    &--black {
        color: $black;
        border-color: $black;
    }
}
